body {
}

h1, h2, h3, h4, h5, h6, input, body {
}

h1 {
    margin: 2em 0 3em 0;
}

    h1 span {
        display: block;
        font-size: 50%;
    }

.warnmsg {
    color: #c25e1c;
}

.trademark {
    display: inline;
    font-size: 60%;
    vertical-align: top;
}

.swatches {
    display: flex;
}

.colorcol {
    width: 100%;
}
    .colorcol p {
        text-transform: capitalize;
    }
    .colorcol .hexval {
        text-transform: lowercase;
    }

.sampleswatch {
    display: block;
    min-height: 10vh;
}

#filesubmit {
    margin-top: 1rem;
    display: block;
}

#partingcomments {
    margin-top: 60px;
    font-size: 82.5%;
    text-align: left;
}
