body {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.formwrap {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-family: Khand;
    font-size: 44px;
    letter-spacing: -0.03em;
    margin: 2em 0 1em 0;
}

    h1 span {
        display: block;
        font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40%;
    }

h2 {
    border-bottom: 1px solid #eee;
    font-family: Khand;
    margin: 2em 0 0 0;
    padding: 0;
    text-transform: uppercase;
}

.warnmsg {
    color: #c25e1c;
}

.trademark {
    display: inline;
    font-size: 60%;
    vertical-align: top;
}

#theform {
    margin-bottom: 2rem;
}

#asefile,
#filesubmit {
    font-size: 19px;
}

#filesubmit {
    margin-top: 1rem;
    display: block;
}

.swatches {
    display: flex;
}

.colorcol {
    display: flex;
    flex-direction: column;
    width: 100%;
}

    .colorcol p {
        text-transform: capitalize;
    }

    .colorcol .hexval {
        text-transform: lowercase;
    }

.swatchname {
    color: #999;
    font-size: 90%;
}

.sampleswatch {
    display: block;
    min-height: 10vh;
}

#partingcomments {
    font-size: 82.5%;
    text-align: left;
}
